.login{
    background-color: rgb(193, 190, 255);
    width:100%;
    min-height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
}
.login-card{
    display: flex;
    background-color: white;
    width: 50%;
    min-height: 400px;
}
.login-left{
    flex: 1;
    background: url("https://images.pexels.com/photos/5158956/pexels-photo-5158956.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2") center;
    background-size: cover;
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    color: white;
}
 .button-register{
    color: rebeccapurple;
} 

.login-right{
    flex: 1;
    padding: 50px;
    display: flex;
    flex-direction: column;
    
}
.form{
    display: flex;
    flex-direction: column;
    gap: 50px;
}
 .login-input>input{
    border:none;
    border-bottom: 1px solid lightgray;
    padding: 20px 10px;
    gap:20px;

} 
